[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-environ = "*"
arxiv = "*"
openai = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
